[submodule "benchmark/C/memcached"]
	path = benchmark/C/memcached
	url = https://github.com/memcached/memcached.git
[submodule "benchmark/C/zstd"]
	path = benchmark/C/zstd
	url = https://github.com/facebook/zstd.git
[submodule "benchmark/Cpp/sofa-pbrpc"]
	path = benchmark/Cpp/sofa-pbrpc
	url = https://github.com/baidu/sofa-pbrpc.git
[submodule "benchmark/Go/sally"]
	path = benchmark/Go/sally
	url = https://github.com/uber-go/sally.git
[submodule "benchmark/Cpp/cpv-1"]
	path = benchmark/Cpp/cpv-1
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-2"]
	path = benchmark/Cpp/cpv-2
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-3"]
	path = benchmark/Cpp/cpv-3
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-4"]
	path = benchmark/Cpp/cpv-4
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-5"]
	path = benchmark/Cpp/cpv-5
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-8"]
	path = benchmark/Cpp/cpv-8
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-10"]
	path = benchmark/Cpp/cpv-10
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-11"]
	path = benchmark/Cpp/cpv-11
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-12"]
	path = benchmark/Cpp/cpv-12
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-13"]
	path = benchmark/Cpp/cpv-13
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-14"]
	path = benchmark/Cpp/cpv-14
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-15"]
	path = benchmark/Cpp/cpv-15
	url = https://github.com/aixcc-public/challenge-004-nginx-source
[submodule "benchmark/Cpp/cpv-17"]
	path = benchmark/Cpp/cpv-17
	url = https://github.com/aixcc-public/challenge-004-nginx-source
